/*Styles common on all media. Moslty in alphabetical order*/
* {
  font-family: 'Libre Franklin', sans-serif;
}

button {
  background-color: rgb(51, 119, 255);
  font-size: 20px;
  color: black;
}

.fa-github {
  margin-right: 15%;
  float: right;
}

.fa-linkedin {
  margin-left: 15%;
}

footer {
  background-color: rgb(230, 30, 30);
  border-top: 2px solid rgb(43, 0, 0);
  margin-top: 30px;
  padding: 30px;
  text-align: center;
}

.hide {
  display: none;
}

hr {
  border-top: 1px solid rgb(43, 0, 0);
  margin-top: 50px;
}

h1 {
  margin-bottom: 20px;
  margin-left: 15px;
}

.icon-bar {
  background-color: rgb(255, 255, 255);
}

.navbar {
  background-color: rgb(230, 30, 30);
  border-bottom: 2px solid rgb(43, 0, 0);
  border-radius: 0;
}

.navbar-toggle {
  background-color: rgb(51, 119, 255);
  border: 1px solid rgb(0, 0, 0);
  margin-right: 25px;
  margin-top: 22px;
}

/*Styles for tablet size and up. Alphabetical order.*/
@media screen and (min-width: 768px) {
  .center, .selected-project {
    transition: margin .2s linear .1s;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 28vw;
    margin-right: 28vw;
  }

  div>img {
    height: 20vw;
  }

  figcaption {
    display: none;
  }

  figure {
    float: right;
  }

  #fremy-description {
    font-size: 20px;
    margin: 12vw 0;
  }

  h3 {
    margin: 25px 0 25px 0;
    text-align: center;
  }

  img {
    border: 1px solid rgb(43, 0, 0);
    width: 40vw;
  }

  .left {
    float: left;
    margin-bottom: 25px;
    margin-top: 25px;
  }

  li>a {
    margin-top: 15px;
    color: rgb(43, 0, 0);
  }

  .nav>li>a:hover {
    background-color: rgb(51, 119, 255);
    color: white;
  }

  #project-description {
    margin: 5vw 30vw;
    width: 36em;
    max-width: 100%;
  }
  
  .right {
    float: right;
    margin-bottom: 25px;
    margin-top: 25px;
  }
}

/*Mobile styles*/
@media screen and (max-width: 767px) {
  figcaption {
    text-align: center;
  }

  #fremy-description {
    font-size: 17px;
    margin: 0 auto;
    width: 90%;
  }

  #fremy-image {
    height: 62vw;
    width: 90%;
  }

  h3 {
    margin: 10px 0;
    text-align: center;
  }

  h3+img {
    margin: 15px 5% 30px 5%;
  }

  img {
    border: 1px solid rgb(43, 0, 0);
    height: 45vw;
    margin: 30px 5%;
    width: 90%;
  }

  .hide-mobile {
    display: none;
  }

  li a {
    color: rgb(43, 0, 0);
    font-size: 15px;
  }

  #project-description {
    margin: 5vw 8vw;
    max-width: 100%;
    width: 36em;
  }
}
