* {
    font-family: 'Libre Franklin', sans-serif;
}

body {
  width: 100%;
}

@media (min-width: 768px) {
  .nav>li>a:hover {
    background-color: rgb(51, 119, 255);
    color: white;
  }

  li>a {
    margin-top: 15px;
    color: rgb(43, 0, 0);
  }

  figure {
    float: right;
  }

  img {
    border: 1px solid rgb(43, 0, 0);
    width: 40vw;
  }

  div>img {
    height: 20vw;
  }

  .right {
    float: right;
    margin-bottom: 20px;
  }

  .left {
    float: left;
    margin-bottom: 20px;
  }

  .center {
    margin-top: 20px;
    margin-left: 28vw;
    margin-right: 28vw;
  }

  h3 {
    margin: 25px 0 25px 0;
    text-align: center;
  }

  figcaption {
    display: none;
  }

  input[placeholder="Name"] {
    margin-top: 0;
  }

  input {
    border-radius: 5px;
    border-style: none;
    background-color: rgb(235, 235, 235);
    font-size: 20px;
    width: 40vw;
    margin-right: 21vw;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  textarea {
    border-radius: 5px;
    border-style: none;
    background-color: rgb(235, 235, 235);
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 15px;
    width: 60vw;
  }

  button[type="submit"] {
    position: relative;
    top: -150px;
    right: -8.5vw;
    border-radius: 10px;
    font-size: 30px;
    color: white;
  }

  .fa-github {
    position: absolute;
    left: 75vw;
  }

  .fa-linkedin {
    position: absolute;
    left: 25.7vw;
    top: 9.9vw;
  }
}

@media (max-width: 767px) {

  #Me {
    width: 90%;
    height: 62vw;
  }

  figcaption {
    text-align: center;
  }

  h3+img {
    margin: 15px 5% 30px 5%;
  }

  img {
    border: 1px solid rgb(43, 0, 0); 
    width: 90%;
    height: 45vw;
    margin: 30px 5%;
  }

  .vanish {
    display: none;
  }

  .appear {
    display: block;
  }

  h3 {
    margin: 10px 0;
    text-align: center;
  }

  input, textarea {
    border-radius: 2px;
    border-style: none;
    font-size: 17px;
    margin: 8px 15% 8px 0;
    width: 70%;
    background-color: rgb(235, 235, 235);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px; 
  }

  button[type="submit"] {
    border-radius: 5px;
    color: rgb(255, 255, 255);
    margin-top: 22px;
    width: 25%;
  }

  .fa-github {
    margin-right: 15%;
    float: right;
  }

  .fa-linkedin {
    margin-left: 15%;
  }

}

h1 {
  margin-left: 15px;
  margin-bottom: 20px;
}

nav, footer {
  background-color: rgb(230, 30, 30);
}

.navbar {
  border-bottom: 2px solid rgb(43, 0, 0);
  border-radius: 0;
}

footer {
  border-top: 2px solid rgb(43, 0, 0);
  margin-top: 30px;
  padding: 30px;
  text-align: center;
}

hr {
  border-top: 1px solid rgb(43, 0, 0);
  margin-top: 50px;
}

.navbar-toggle {
  background-color: rgb(51, 119, 255);
  border: 1px solid rgb(0, 0, 0);
  margin-top: 22px;
  margin-right: 25px;
}

.icon-bar {
  background-color: rgb(255, 255, 255);
}

button {
  background-color: rgb(51, 119, 255);
  font-size: 20px;
}
